.titulo{
    text-align: center;
    font-size: 34px;
}

.texto{
    text-align: center;
    font-size: 22px;
}

.diseno{
    display: flex;
    min-height: 100vh;
}

.barralateral{
    background-color: #2b2026;
    color: white;
    padding: 20px;
    width: 250px;
}

.contenido{
    flex: 1
}

.barralateral button{
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
}