* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.diseno_barra_lateral{
    display: flex;
    min-height: 100vh;
}

.barralateral{
    background-color: #2b2026;
    color: white;
    padding: 20px;
    width: 350px;
}

.barralateral button:hover{
    background-color: #3b2b33;
}

.diseno_contenido_principal{
    flex: 1;
    padding: 40px;
    background-color: #f7f3f5;
}

.barralateral button{
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
}

